extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor euismod fringilla. Proin viverra nec purus sed cursus. Aliquam velit neque, varius ac cursus sed, consequat in velit. Vivamus iaculis molestie condimentum. Praesent eu est at enim elementum interdum nec quis nulla. Vestibulum nec elit facilisis lacus vehicula vehicula. Nam facilisis sodales sem. Praesent eget tellus malesuada, iaculis nulla ut, ultrices enim. Etiam suscipit vulputate convallis. Donec id gravida nibh.

                p Etiam quis metus libero. Donec et semper lorem. Curabitur feugiat nulla eros. Nulla mattis et dolor quis rhoncus. Proin viverra ligula in diam tempor hendrerit. Maecenas tellus dolor, imperdiet et urna luctus, pulvinar scelerisque neque. Nunc tincidunt faucibus fringilla.

                p Donec laoreet turpis varius consequat sollicitudin. Aenean turpis mauris, euismod nec pretium a, malesuada nec libero. Cras sed maximus purus. Mauris dictum, urna sed interdum lobortis, metus nunc ultrices justo, in posuere leo felis sed purus. In risus odio, semper sed tellus nec, gravida ultricies lorem. Phasellus quis mi ac purus condimentum porttitor. Nulla imperdiet dapibus lacus, vel dapibus ante sagittis sit amet. Aenean ullamcorper, nunc at laoreet venenatis, est mauris posuere nunc, ut pharetra massa sapien a est.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p metus nunc ultrices justo, in posuere leo felis sed purus. In risus odio, semper sed tellus nec, gravida ultricies lorem. Phasellus quis mi ac purus condimentum porttitor.

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p metus nunc ultrices justo, in posuere leo felis sed purus. In risus odio, semper sed tellus nec, gravida ultricies lorem. Phasellus quis mi ac purus condimentum porttitor.

                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p metus nunc ultrices justo, in posuere leo felis sed purus. In risus odio, semper sed tellus nec, gravida ultricies lorem. Phasellus quis mi ac purus condimentum porttitor.